<!--This is a comment. Comments are not displayed in the browser-->
{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div class="container">
    <form method="POST">
        <h3>Register</h3>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <button type="submit" class="button">Register</button>

        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </form>
</div>
{% endblock %}
